<!--
  Generated template for the Login page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div style="margin-top: 30%" center>
    <img style="margin-left: 15%; width: 70%" src="assets/images/Logo.png" />
    <ion-list>
      <ion-item>
        <ion-label>Email</ion-label>
        <ion-input type="text" value="" [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Password</ion-label>
        <ion-input type="password" value="" [(ngModel)]="password"></ion-input>
      </ion-item>
    </ion-list>
    <div>
      <button ion-button block color="primary" (click)="login()">Entra</button>
    </div>
    <a href="#" center (click)="resetPassword()">Ho dimenticato la password</a>
  </div>
</ion-content>