<div>
    <ion-menu [content]="content">
        <ion-header>
        <ion-toolbar>
            <ion-title> Menu </ion-title>
        </ion-toolbar>
        </ion-header>

        <ion-content>
        <ion-list>
            <button *ngIf="isAuthenticated == false" menuClose ion-item (click)="logout()">
            Entra
            </button>
            <button *ngIf="isAuthenticated == true" menuClose ion-item (click)="logout()">
            Esci
            </button>
            <button menuClose ion-item (click)="openPage(pages[1])">
            Lista delle chat
            </button>
            <button menuClose ion-item (click)="softwareVersion()">
            Versione Software
            </button>
            <button menuClose ion-item (click)="checkForUpdate()">
            Aggiornamento Software
            </button>
        </ion-list>
        </ion-content>
    </ion-menu>
    </div>
    <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>