page-chat-list {

}
.list-header{
    margin-bottom: 0px;
}
.customPadding{
    margin: 0px;
    margin-bottom: 10px;
}
.mineBlock{
    float: right !important;
}
.oppositeBlock{
    float: left !important;
}
ion-buttons {
    order: 1
}