<!--
  Generated template for the ChatList page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar>
    <button menuToggle ion-button >
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Lista delle chat</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="cards-bg social-cards">
  <ion-list-header>
    NUOVE CHAT
  </ion-list-header>
  <ion-card *ngFor="let activeThread of activeThreads" (click)="assistCustomer(activeThread.$key)">
    <ion-item *ngIf="activeThread.threadStatus=='In attesa'">
      <ion-avatar item-left>
        <img src="assets/images/chat_to_be_assisted_icon.png">
      </ion-avatar>
      <h2>{{activeThread.name}}</h2>
      <p>Data apertura: <strong>{{activeThread.date | date: 'dd/MM/yyyy - HH:mm'}}</strong></p>
      <p>Città(presunta): <strong>{{activeThread.city}}</strong></p>
    </ion-item>
  </ion-card>
  <ion-list-header>
    CHAT CHE SEGUI
  </ion-list-header>
  <ion-card *ngFor="let activeThread of activeThreads" (click)="editChat(activeThread.$key)">
    <ion-item *ngIf="activeThread.threadStatus=='In corso' && activeThread.attendantUserObjectId == attendantUserObjectId">
      <ion-avatar item-left>
        <img src="assets/images/chat_assisted_by_you_icon.png">
      </ion-avatar>
      <h2>{{activeThread.name}}</h2>
      <p>Data apertura: <strong>{{activeThread.date | date: 'dd/MM/yyyy - HH:mm'}}</strong></p>
      <p>Data risposta: <strong>{{activeThread.openingDateTime | date: 'dd/MM/yyyy - HH:mm'}}</strong></p>
      <p>Città(presunta): <strong>{{activeThread.city}}</strong></p>
    </ion-item>
  </ion-card>
  <ion-list-header>
    CHAT GIA' ASSISTITE
  </ion-list-header>
  <ion-card *ngFor="let activeThread of activeThreads" (click)="editChat(activeThread.$key)">
    <ion-item *ngIf="activeThread.threadStatus=='In corso' && activeThread.attendantUserObjectId != attendantUserObjectId">
      <ion-avatar item-left>
        <img src="assets/images/chat_assisted_by_others_icon.jpg">
      </ion-avatar>
      <h2>{{activeThread.name}}</h2>
      <p>Data apertura: <strong>{{activeThread.date | date: 'dd/MM/yyyy - HH:mm'}}</strong></p>
      <p>Città(presunta): <strong>{{activeThread.city}}</strong></p>
      <p>Seguito da: <strong>{{activeThread.attendantFullName}}</strong></p>
      <p>Data risposta: <strong>{{activeThread.openingDateTime | date: 'dd/MM/yyyy - HH:mm'}}</strong></p>
    </ion-item>
  </ion-card>
  <ion-list-header>
    CHAT CONCLUSE
  </ion-list-header>
  <ion-card *ngFor="let thread of threads" (click)="seeChat(thread.$key)">
    <ion-item *ngIf="thread.threadStatus=='Chiuso'">
      <ion-avatar item-left>
        <img src="assets/images/chat_closed_icon.png">
      </ion-avatar>
      <h2>{{thread.name}}</h2>
      <p>Data apertura: <strong>{{thread.date | date: 'dd/MM/yyyy - HH:mm'}}</strong></p>
      <p>Città(presunta): <strong>{{thread.city}}</strong></p>
      <p>Seguito da: <strong>{{thread.attendantFullName}}</strong></p>
      <p>Data risposta: <strong>{{thread.openingDateTime | date: 'dd/MM/yyyy - HH:mm'}}</strong></p>
      <p>Concluso: <strong>{{thread.closingDateTime | date: 'dd/MM/yyyy - HH:mm'}}</strong></p>
    </ion-item>
  </ion-card>
</ion-content>