page-chat-thread {

}
.message-left{
    margin-top: 10px;
    margin-right: 40px;
    margin-left:10px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.message-right{
    margin-top: 10px;
    margin-right: 10px;
    margin-left:40px;
}
.avatar-right{
    height: 42px;
    width: 42px;
    float: right;
}
.avatar-left{
    height: 42px;
    width: 42px;
    float: left;
    margin-right: 10px;
}
.customPadding{
    margin: 0px;
    margin-bottom: 10px;
}
.mineBlock{
    float: right !important;
}
.oppositeBlock{
    float: left !important;
}