<!--
  Generated template for the ChatThread page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Chat</ion-title>
    <ion-buttons end>
      <button ion-button color="default" (click)="closeChat()">
        Concludi chat
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div *ngFor="let message of messages">

    <ion-card ngClass="customPadding mineBlock">
      <ion-item *ngIf="message.attendantUserObjectId">
        <ion-avatar item-left [ngSwitch]="message.name">
          <img src="assets/images/attendants/{{message.name.replace(' ','')}}.png">
        </ion-avatar>
        <h2>{{message.name}}</h2><strong><p>{{message.dateTime | date: 'dd/MM/yyyy - HH:mm'}}</p></strong>
        <p>{{message.message}}</p>
      </ion-item>
    </ion-card>

    <ion-card ngClass="customPadding oppositeBlock">
      <ion-item *ngIf="!message.attendantUserObjectId">
        <ion-avatar item-left>
          <img src="assets/images/chat_assisted_by_you_icon.png">
        </ion-avatar>
        <h2>{{message.name}}</h2><strong><p>{{message.dateTime | date: 'dd/MM/yyyy - HH:mm'}}</p></strong>
        <p>{{message.message}}</p>
      </ion-item>
    </ion-card>

  </div>
</ion-content>

<ion-footer>
  <ion-toolbar position="bottom">
    <form [formGroup]="createForm" (ngSubmit)="sendMessage(createForm.value)">
      <ion-item>
        <ion-input type="text" placeholder="Scrivi un messaggio" formControlName="message"></ion-input>
        <button ion-button item-right type="submit" [disabled]="!createForm.valid"><ion-icon name="md-send"></ion-icon></button>
      </ion-item>
    </form>
  </ion-toolbar>
</ion-footer>