<!--
  Generated template for the ChatThread page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Chat</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <div *ngFor="let message of messages">
    <ion-card ngClass="customPadding mineBlock">
      <ion-item *ngIf="message.attendantUserObjectId">
        <ion-avatar item-left>
            <img src="assets/images/attendants/{{message.name.replace(' ','')}}.png">
        </ion-avatar>
        <h2>{{message.name}}</h2><strong><p>{{message.dateTime | date: 'dd/MM/yyyy - HH:mm'}}</p></strong>
        <p>{{message.message}}</p>
      </ion-item>
    </ion-card>

    <ion-card ngClass="customPadding oppositeBlock">
      <ion-item *ngIf="message.attendantUserObjectId == null">
        <ion-avatar item-left>
          <img src="assets/images/chat_assisted_by_you_icon.png">
        </ion-avatar>
        <h2>{{message.name}}</h2><strong><p>{{message.dateTime | date: 'dd/MM/yyyy - HH:mm'}}</p></strong>
        <p>{{message.message}}</p>
      </ion-item>
    </ion-card>
  </div>
</ion-content>